# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from winsound import Beep

# Import API key
from api_keys import g_key as gKey

print("done")

done

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
loadFile = "../output_data/citiesFinal.csv"
weatherFrame = pd.read_csv(loadFile)
weatherFrame.head()

,Unnamed: 0,City,Cloudiness,Nation,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,khatanga,26,RU,1618859766,100,71.9667,102.5000,-17.59,2.62
1,1,iqaluit,75,CA,1618859580,79,63.7506,-68.5145,21.20,6.91
2,2,andenes,0,NO,1618859766,66,69.3143,16.1194,46.40,5.75
3,3,port alfred,100,ZA,1618859733,81,-7.0349,29.7638,72.45,4.59
4,4,qaanaaq,100,GL,1618859766,75,77.4840,-69.3632,8.28,7.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key = gKey)

In [7]:
locationsFrame = weatherFrame[["Latitude", "Longitude"]]
humidityFrame = weatherFrame["Humidity"].astype(float)
fig = gmaps.figure()

heatmapLayer = gmaps.heatmap_layer(locationsFrame, weights = humidityFrame, dissipating = False,
                                    max_intensity = 100, point_radius = 1)

fig.add_layer(heatmapLayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
narrowCitiesFrame = weatherFrame.loc[(weatherFrame["Max Temp"] > 70) &
                                   (weatherFrame["Max Temp"] < 80) &
                                   (weatherFrame["Wind Speed"] < 10) &
                                   (weatherFrame["Cloudiness"] == 0)]

narrowCitiesFrame.head()

,Unnamed: 0,City,Cloudiness,Nation,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
7,7,rikitea,0,PF,1618859739,72,-23.1203,-134.9692,77.94,9.73
45,45,akyab,0,MM,1618859776,82,20.1500,92.9000,79.47,5.50
191,191,daud khel,0,PK,1618859997,41,25.3081,62.2336,78.89,9.19
205,205,tura,0,RU,1618860062,77,25.5198,90.2201,71.33,7.56
233,233,kutum,0,SD,1618860069,10,14.2000,24.6667,79.52,3.62

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure